<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ autore.nome }} {{autore.cognome}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1><strong>Autore: </strong> {{ autore }}</h1>
    <h2><strong>Nazione: </strong> {{autore.nazione }}</h2>
    <br>
    {% for libro in autore.libri.all %}
        <h2><strong>Titolo: </strong>{{ libro.titolo }}</h2>
        <h5><strong>Generi: </strong>{% for generi in libro.genere.all %} {{ generi }} {% endfor %}</h5>
        <h5><strong>ISBN: </strong> {{ libro.isbn }}</h5>
    {% endfor %}
    
</body>
</html>