<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <title>Contattaci</title>
</head>

<body>

<!--    <div class="container">
        <h1>Compila il form di contatto risponderemo quanto prima</h1>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-danger" value="Invia"/>
         </form>
    </div>>
-->
<div class="container">
        <h1>Compila il form di contatto risponderemo quanto prima</h1>
        <form action="" method="POST">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                {{ field.errors }}
                {{ field.label_tag }}
                {{ field }}
            </div>
            {% endfor %}
            <input type="submit" class="btn btn-danger" value="Invia"/>
         </form>
    </div>

</body>

</html>