<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <title>Homepage!!</title>
</head>
<body>
    <h1>Benvenuti nella homepage</h1>
    <h2>User: {{ request.user }}</h2>

    <a href="/contattaci/">Contattaci</a>
    
</body>
</html>