/*body{
    background: #FFB400;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQea0A7aWND6UJT6w2aAi51lzYdwVBwHSOnPeONHwuxzbDA_zLJQQ);
    background-repeat: no-repeat;
    background-position: center;
}*/

div{
    background-color:#FFB400;
}
h1{

    color:#0f43bc;
    background: #F6511D;
}

h2{
    background-color:#ffe900;
    border-width:5px;
    border-style: dotted;
    border-color: #7FB800;
}

p{
    color:rgb(188, 11, 11);
    border: 3px solid #00A6ED;
}

h4{
    color:rgba(100, 200, 0,0.5)
}




