body{

    font-family: 'Raleway', serif;

}

.citazione{
    font-style: italic;
    font-weight: bold;
}

#p1{
    font-size: 21px;
}

#p2{
    font-size: xx-small;
}

/*em significa la dimensione attuale del browser*/
h1{
    font-size:2.5em
}

#hs{
    text-align: center;
    text-decoration:underline;
}

.coda{
    line-height:50%;
}

