h1{
    border:5px solid green;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    
}

.mybox{
    border: 5px dotted orange;
    padding: 40px;
    margin: 200px;
}
p{
    border: 20px double purple;
     width: 50%;
     margin: auto;
 }

h2{
    border: 5px solid navy;
    margin-bottom: 200px;
    margin-top: 100px;
} 

.div1{
    height:300px;
    width: 300px;
    border: 5px solid orange;
}
.div2{
    box-sizing:border-box;
    height:300px;
    width: 300px;
    border: 5px solid orange;
    padding: 50px;
}

