.bordered{
    border: #FA6699 thick solid;
}
/* class*/
.cut{
    max-width:50%;
}
/* id*/
#unico{
    text-decoration:underline;
}

/* elementi h1 all'interno dei div*/
div > h1{
    color: purple;
}

/* modifiche a link specifici*/

p a[href="http://www.google.com"]{
    color: grey;
}
/*tutti i tags della pagina
 *
 * ---> *{
 * ---> color: black;
 * ---> }
