{% extends "base.html" %}

{% block content %}
    <br>
    <p>Inserisci la tua mail:</p>

    <form method="post">
        {% csrf_token %}
        {% if form.email.errors %}
            {{ form.email.errors }}
        {% endif %}
        <p>{{ form.email }}</p>
        <input type="submit" class="btn btn-alert" value="reset" />
    </form>
{% endblock %}