<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>La nostra libreria</h1>
    {% for libro in object_list %}
        <h2><strong>Titolo: </strong>{{ libro.titolo }}</h2>
        <h5><strong>Autore: </strong><a href="{{ libro.autore.get_absolute_url }}">{{libro.autore}}</a></h5>
        <h5><strong>Generi: </strong>{% for generi in libro.genere.all %} {{ generi }} {% endfor %}</h5>
        <h5><strong>ISBN: </strong> {{ libro.isbn }}</h5>

        <br>
    {% endfor %}
    
</body>
</html>