{% extends 'base.html' %}

{% block head_title %}{{ block.super }} ~ {{articolo.titolo}}{% endblock head_title %}
{% block content %}
<h4>Articoli</h4>
{% for articolo in object_list %}
<p><strong>Titolo:</strong> <a href="{{ articolo.get_absolute_url }}"> {{ articolo.titolo }}</a></p>
<p><strong>Contenuto:</strong> {{ articolo.contenuto }}</p>
<p><strong>Autore:</strong> {{ articolo.giornalista }}</p>
<hr> {% endfor %}
{% endblock content %}