{% extends 'base.html' %}

{% block head_title %}{{ block.super }} ~ Homepage{% endblock head_title %}


{% block content %}

	<h1>Homepage</h1>
	<h2>Benvenuti nella funzione home!</h2>

	{{ articoli }} {{ giornalisti }}


	<br>

	<h4>Giornalisti:</h4>

	{% for giornalista in giornalisti %}
	<p>{{ giornalista.nome }} {{ giornalista.cognome }}</p>
	{% endfor %}

	<h4>Articoli</h4>
	{% for articolo in articoli %}
	<p><strong>Titolo:</strong> <a href="{{ articolo.get_absolute_url }}"> {{ articolo.titolo }}</a></p>
	<p><strong>Contenuto:</strong> {{ articolo.contenuto }}</p>
	<p><strong>Autore:</strong> {{ articolo.giornalista }}</p>
	<hr> {% endfor %}

	<h3>Con relazione inversa</h3>
	<h4>Giornalisti:</h4>
	{% for giornalista in giornalisti %}
	<p>{{ giornlista.nome }} {{ giornalista.cognome }}</p>
	<p>
		<strong>Articoli</strong>
	</p>
	{% for articolo in giornalista.articoli.all %}
	<p>{{ articolo.titolo }}</p>
	{% empty %}
	<p>{{ giornalista.nome}} non ha scritto nessun articolo</p>
	{% endfor %} 
	<hr>
	{% endfor %}

	{% endblock content %}
